/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root {
    --blue-color : rgb(1, 1, 80);
    --orange-color : rgb(252, 106, 32);
}
section{
    margin-top: 6rem;
    padding: 2rem 0;
}
p{
    font-size: 20px;
}
.repair{
    color: var(--orange-color);
}
button{
    font-size: 21px;
    font-weight: 600;
}

/* translate language */
.translated-ltr{margin-top:-40px;}
.translated-ltr{margin-top:-40px;}
.goog-te-banner-frame {display: none;margin-top:-20px;}

.goog-logo-link {
   display:none !important;
} 

.goog-te-gadget{
   color: transparent !important;
}
/* header title */
.header-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 2, 107);
    color: white;
    padding: 0.5rem;
}
.header-title i {
    color: var(--orange-color);
}
/* nav bar */
nav {
    background-color: var(--orange-color);
}
nav .navbar-brand img{
    width: 25%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
nav .navbar-brand span{
    color: white;
}
nav #link a{
    color: white;
    margin-right: 2rem;
    font-size: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
/* cover */
.cover{
    margin-top: 0;
    background-image: linear-gradient(to right, rgba(28, 20, 102, 0.884), rgba(25, 13, 59, 0.473)), url(./img/cover/Tools-Hero.png);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.cover .container {
    position: relative;
}
.cover .container .text {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
.cover .container .text p{
    width: 60%;
}
.cover .container .text h6{
    font-size: 25px;
}
.cover .container .text h1{
    font-size: 50px;
}
.cover button {
    font-size: 20px;
    font-weight: 600;
    padding: 0.8rem 1.7rem;
    background: none;
    color: white;
    border: 1px solid white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.cover button:hover{
    background-color: white;
    color: black;
}
.cover .contact {
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
}
.cover .contact:hover{
    background: none;
    color: white;
    border: 1px solid white;
}
/* work */
.work h1{
    color: var(--blue-color);
    font-size: 40px;
    position: relative;
    padding-bottom: 1.8rem;
}
.work h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5px;
    width: 6rem;
    background-image: linear-gradient(to right, var(--orange-color), var(--blue-color));
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.work .card{
    box-shadow: 0px 0px 20px 5px rgb(231, 231, 231);
}
.work .card h5{
    color: var(--blue-color);
}
.work .card-footer{
    border: none;
    background: none;
}
.work .card-footer button{
    padding: 0.5rem 0;
    width: 100%;
    color: var(--orange-color);
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.work .card-footer button span{
    display:inline-block;
    text-align: right;
    color: var(--orange-color);
    padding: 0.5rem 1rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.work .card-footer button:hover span {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
.work .card-footer button:hover{
    color: var(--blue-color);
    background: var(--orange-color);
    border: 1px solid var(--orange-color);
}
.work .card-footer button:hover i{
    color: var(--blue-color);
}
.project {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.247), rgba(0, 0, 255, 0.493)), url(./img/project/tool-library-640x426.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5rem;
}
.project .row{
    background-color: var(--orange-color);
    padding: 2rem;
    position: relative;
}
.project .row .img{
    position: absolute;
    max-width: 550px;
    top: -5%;
    right: -5%;
}
.project .row img{
    width: 100%;
}
.project .row .part h1{
    color: var(--blue-color);
}
.project .row .part p {
    color: white;
}
/* services */
.services .for-border{
    border-right: 1px solid gray;
}
.services .row .Card {
    padding: 1rem 0.5rem;
    box-shadow: 0px 0px 10px 1px rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.services .row .Card .icon i {
    color: var(--orange-color);
    margin: 0.5rem;
}
.services .row .Card h3{
    color: var(--blue-color);
}

/* experience */
.experience {
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(4, 4, 95, 0.637), rgba(0, 0, 85, 0.699)), url(./img/experence/PngItem_2845214-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.experience .part img{
    width: 90%;
}
.experience .part {
    color: white;
}
.experience .part .row .part {
    background-color: var(--blue-color);
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
}
.experience .part .row .part .icon i{
    color: var(--orange-color);
    margin: 0.3rem;
}

/* team */
.team h1{
    color: var(--blue-color);
    position: relative;
}
.team h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5px;
    width: 6rem;
    background-image: linear-gradient(to right, var(--orange-color), var(--blue-color));
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.team .container .part {
    position: relative;
}
.team .container .part .img img{
    width: 100%;
}
.team .container .part .img h2{
    color: var(--blue-color);
}
.team .container .part .img p{
    color: gray;
}
.team .container .part .overlay{
    background-color: rgba(4, 4, 116, 0.322);
    position: absolute;
    top: 0;
    width: 100%;
    height: 77.5%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.team .container .part .overlay .icon{
    background-color: var(--orange-color);
    padding: 0.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.team .container .part .overlay .icon i {
    color: white;
    margin: 0.2rem;
    font-size: 25px;
}
.team .container .part:hover .overlay {
    opacity: 1;
}
/* video */
.video{
    background-image: linear-gradient(to right, rgba(0, 0, 122, 0.473), rgba(5, 5, 116, 0.61)), url(./img/experence/PngItem_2845214-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: white;
}
.video h1 span{
    color: var(--orange-color);
}
.video button{
    padding: 0.5rem 1.5rem;
    border: 1px solid white;
    background: none;
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.video button:hover {
    border: 1px solid var(--blue-color);
    background-color: white;
    color: var(--blue-color);
}
.video iframe{
    width: 100%;
}

/* client */
.client .container .part{
    padding: 1.5rem;
    box-shadow: 0px 0px 15px 2px rgb(216, 216, 216);
}
.client .title h1{
    color: Var(--blue-color);
    position: relative;
    padding: 0.8rem;
}
.client .title h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 5px;
    width: 6rem;
    background-image: linear-gradient(to right, var(--orange-color), var(--blue-color));
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.client .container .part{
    margin-top: 2rem;
}
.client .container .part img{
    width: 25%;
    margin-right: 1rem;
}
.client .container .part .img-title{
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

/* subscribe */
.subscribe{
    padding-bottom: 0;
}
.subscribe .row{
    background-color: var(--orange-color);
}
.subscribe .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe .logo img{
    margin-right: 0.5rem;
}
.subscribe .first-blok{
    background-color: var(--blue-color);
    color: white;
}
.subscribe .msg-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subscribe .msg-icon i {
    margin-right: 0.3rem;
    color: white;
}
.subscribe .same {
    padding: 1rem 0;
}
.subscribe input,
.subscribe input:focus{
    background: none;
    color: white;
    border: 1px solid white;
    box-shadow: none;
}
.subscribe span {
    background: none;
}
.subscribe span i{
    color: white;
}
.subscribe .part {
    color: white;
}


/* footer */
footer{
    background-color: var(--blue-color);
    color: white;
    padding: 2rem;
    margin-top: 0;
}
footer i{
    color: var(--orange-color);
    margin-right: 0.5rem;
}
footer .part{
    margin-top: 2rem;
}
footer .part .link{
    display: inline-block;
    margin:0 1rem;
}
footer .part img{
    width: 30%;
}
footer .sub-part{
    display: flex;
    justify-content: baseline;
    padding: 0.5rem 0;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer .img-descript{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
footer .img-descript img{
    margin-right: 0.5rem;
}
footer h1{
    color: var(--orange-color);
}
footer button{
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--orange-color);
    background: none;
    color: var(--orange-color);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
footer button:hover{
    background-color: var(--orange-color);
    color: white;
}
/* responsive */
@media(max-width:1166px) {
    .project .row .img{
        position: initial;
        max-width: initial;
    }
}
@media(max-width:991px){
    .cover .container .text{
        position: initial;
        padding: initial;
        margin: initial;
        display: initial;
    }
}
@media(max-width:888px){
    .header-title h4{
        font-size: 16px;
    }
}
@media(max-width: 767px){
    .services .for-border{
        border:none;
    }
}
@media(max-width:596px){
    .header-title h4{
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-title h4 i{
        margin: 0.5rem;
    }
}
@media(max-width:470px){
    .header-title{
        font-size: 16px;
        flex-direction: column;
    }
    .cover .container .text{
        width: 100%;
    }
    .cover .container .text h1{
        font-size: 30px;
    }
    .cover .container .text h6{
        font-size: 20px;
    }
    .cover .container .text p{
        font-size: 16px;
        width: 100%;
    }
    .cover .text button{
        margin-top: 1rem;
    }
    .project .row{
        padding: 0.5rem 0;
    }
}
@media(max-width:295px){
    .project .row{
        padding: 0.5rem 0;
        background: none;
    }
}
@media(max-width:284px){
    nav .navbar-brand{
        font-size: 16px;
    }
}